
img {
  width: 400px;
  height: 500px;
}
#movieCardsContainer{
  height: fit-content;
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 5% 1fr;
}
#header1{
  background-color: aqua;
  grid-column: 1 / span 6;
  grid-row-start: 1;
  grid-row-end: 1;
  text-align: center;
}
#left{
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
}
#right{
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 5;
}

img{
  border: solid rgb(15, 15, 41) 0.5px;
}
#movieImg{
  justify-content: center;
  margin: auto;
  transition: 0.2s linear;
}

.exitBtn{
  background-color: darkred;
  border-radius: 20px;
  color: whitesmoke;
  border: solid whitesmoke 0.1px;
  position: relative;
  padding: 3%;
  top: 10%;
  left: 5%;
}